<section class="home" id="home">
  <div class="group content">
    <div class="col span_3_of_3">
      <div class="intro">
        <div class="emily-thomas">Emily Thomas</div>
        <div class="tagline">Crafting Simply Delightful Experiences</div>
        <div class="designer">UI/UX Designer</div>
      </div>
    </div>
  </div>
</section>
<section class="projects" id="projects">
  <div class="content">
    <ul class="grid">
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-sales-reporting-sm.png" %>
            </div>
            <div class="back face center">
              <div class="title">
                Beacon Sales Reporting
              </div>
              <p>Customizable financial dashboard</p>
              <a href="/projects/salesreporting" class="btn">View Project</a>
              <div class="role">
                UI UX
              </div>  
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-campaign-sm.png" %>
            </div>
            <div class="back face center">
              <div class="title">
                Beacon Campaigns
              </div>
              <p>Sales campaign tool</p>
              <a href="/projects/campaigns" class="btn">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-search-sm.png" %>
            </div>
            <div class="back face center">
              <div class="title">
                 Beacon Redesign
              </div>
              <p>Financial analytics application</p>
              <a href="/projects/search" class="btn">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-gatorade-sm.png" %>
            </div>
            <div class="back face center">
              <div class="title">
                Gatorade
              </div>
              <p>Real-time social media app</p>
              <a href="/projects/gatorade" class="btn">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-kompilr-sm.png" %>
            </div>
            <div class="back face center">
              <div class="title">
                Kompilr
              </div>
              <p>Visualize your resume</p>
              <a href="/projects/kompilr" class="btn">View Project</a>
              <div class="role">
                UI UX HTML CSS
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-citrix-sm.png" %>
            </div>
            <div class="back face center">
              <div class="title">
                Citrix
              </div>
              <p>Sales campaign tool</p>
              <a href="/projects/citrix" class="btn">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-cs-sm.png" %>
             </div>
            <div class="back face center">
              <div class="title">
                ColorSoundation
              </div>
              <p>Music education app for toddlers</p>
              <a href="/projects/colorsoundation" class="btn">View Project</a>
              <div class="role">
                UI UX Illustration
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-cisco-sm.png" %> 
            </div>
            <div class="back face center">
              <div class="title">
                Cisco Systems
              </div>
              <p>Quarterly reports generation</p>
              <a href="/projects/cisco" class="btn">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card">
            <div class="front face">
              <%= image_tag "project-horipro-sm.png" %>
            </div>
            <div class="back face center">
              <div class="title">
                Horipro
              </div>
              <p>Characters designs for a phone app</p>
              <a href="/projects/horipro" class="btn">View Project</a>
              <div class="role">
                Illustrations
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="about" id="about">
  <div class="group content2">
    <div class="col span_2_of_3">
      <div class="headline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </div>
      <p>
        I live in San Francisco and work as a UI/UX Engineer for a San Diego-based company called Brightscope, Inc.  I’ve been in the design industry for 9 years focusing mostly on web-based user experience.
      </p>
      <p>
        They say I’m also a pretty good artist.  Indeed a couple of my paintings are hanging in my apartment.  I devoted a portion of my schooling to fine arts.  But what’s interesting is my favorite subject in school was always Math.  I’d like to think I apply a rare blend of right and left brained thinking to my work.
      </p>
      <p>
        Perhaps that’s exemplified by the fact that I love conjuring new user experiences in Photoshop or even on a napkin; a process that largely pulls from my creative brain.  But I also love the logical aspects of implementing designs in HTML and CSS, which involves the other half of my brain.
      </p>
    </div>
  </div>
</section>
<section class="connect">
  <div id="connect"></div>
  <div class="content-img">
    <div class="san-francisco">San Francisco</div>
  </div>
  <div class="group content2">
    <div class="col span_1_of_3">
      <h1>Contact /</h1>
      <div class="contact-info">
        <p><span class="contact-labels">A</span> San Francisco, CA</p>
        <p><span class="contact-labels">T</span> 619 - 813 + 7771</p>
        <p><span class="contact-labels">E</span> emily@emjoydesign.com</p>
      </div>
    </div>
    <div class="col span_1_of_3">
      <h1>Follow Me /</h1>
      <div class="contact-info">
        <p><a class="twitter" href="https://twitter.com/emjoydesign" target="_blank">Twitter</a></p>
        <p><a class="linkedin" href="http://www.linkedin.com/pub/emily-thomas/29/721/38" target="_blank">LinkedIn</a></p>
        <p><a class="dribbble" href="http://dribbble.com/emilyjansen" target="_blank">Dribbble</a></p>
      </div>
    </div>
</section>
<script type='text/javascript'>
  $(document).ready(function(){

    var section = getParameterByName('section');
    $('html, body').animate({
        scrollTop: ($('#' + section).offset().top)
    },900);

    function getParameterByName(name) {
        name        = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex   = new RegExp("[\\?&]" + name + "=([^&#]*)");
        var results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
  });

</script>