<section class="project_individual">
<div class="prev"><a href="salesreporting"></a></div>
<div class="next"><a href="search"></a></div>
<div class="group content">
    <div class="col span_1_of_3">
      <div class="project_description">      
          <h3>Beacon Campaigns</h3>
          <h2>UI UX</h2>
          <p>While at BrightScope, designed the user expereince and user interface for Beacon Campaigns. A campaign is created by generating a plan search with an applied scoring model. The campaigns can be shared with the user's sales team and the user can monitor the progress of the campaign. The campaigns contains information about the plan contact, phone/email scripts, and selling points about a particular plan to help leverage a potential client.
      </div>
    </div>
    <div class="col span_2_of_3">
      <div class="project_images"> 
          <%= image_tag "project-campaign-01.png", :alt => "campaigns" %>
          <%= image_tag "project-campaign-02.png", :alt => "campaigns" %>
          <%= image_tag "project-campaign-03.png", :alt => "campaigns" %>
          <%= image_tag "project-campaign-04.png", :alt => "campaigns" %>
          <%= image_tag "project-campaign-05.png", :alt => "campaigns" %>
      </div>
    </div>
</div>
</section>