<section class="project_individual">
  <div class="prev"><a href="search"></a></div>
  <div class="next"><a href="kompilr"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h1>Project</h1>
            <h3>Gatorade</h3>
            <h2>UI UX</h2>
            <p>Teamed up with InfoMotors to create the user interface for an internal web application that monitors real-time social media.</p>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <%= image_tag "project-gmc-01.jpg", :alt => "gatorade" %>
            <%= image_tag "project-gmc-02.jpg", :alt => "gatorade" %>
            <%= image_tag "project-gmc-03.jpg", :alt => "gatorade" %>
            <%= image_tag "project-gmc-04.jpg", :alt => "gatorade" %>
            <%= image_tag "project-gmc-05.jpg", :alt => "gatorade" %>
            <%= image_tag "project-gmc-06.jpg", :alt => "gatorade" %>
            <%= image_tag "project-gmc-07.jpg", :alt => "gatorade" %>
            <%= image_tag "project-gmc-08.jpg", :alt => "gatorade" %>
        </div>
      </div>
  </div>
</section>