<section class="project_individual">
<div class="prev"><a href="/#projects"></a></div>
<div class="next"><a href="campaigns"></a></div>
<div class="group content">
    <div class="col span_1_of_3">
      <div class="project_description">      
          <h1>PROJECT</h1>
          <h3>Beacon Sales Reporting</h3>
          <h2>UI UX</h2>
          <p>
            While at BrightScope designed the user experience and user interface for Sales Reports. Sales Reports is a customizable financial dashbaord for asset managers. It allows the asset managers to select modules based on financial metrics and dimension, apply filters, and view the information in specific time frames. The user can then drag and drop the module to their preferred arrangement.
          </p>
      </div>
    </div>
    <div class="col span_2_of_3">
      <div class="project_images"> 
          <%= image_tag "project-sr-01.png", :alt => "sales reporting" %>
          <%= image_tag "project-sr-02.png", :alt => "sales reporting" %>
          <%= image_tag "project-sr-03.png", :alt => "sales reporting" %>
          <%= image_tag "project-sr-04.png", :alt => "sales reporting" %>
          <%= image_tag "project-sr-05.png", :alt => "sales reporting" %>
          <%= image_tag "project-sr-06.png", :alt => "sales reporting" %>
          <%= image_tag "project-sr-07.png", :alt => "sales reporting" %>
          <%= image_tag "project-sr-08.png", :alt => "sales reporting" %>
      </div>
    </div>
</div>
</section>