<!DOCTYPE html>
<html>
<head>
  <title>Emjoy Design</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Brevia|FF+Kievit+Slab+Thin">
</head>
<body>
<header>
  <div class="content">
    <a href="/"><div class="logo"></div></a>
    <nav class="nav">
      <a id="menu-toggle" class="anchor-link" href="#"></a>
      <ul id="menu">
        <li><%= link_to 'Home', ('home' == params[:controller]) ? root_path(:anchor => 'home') : root_path(:section => 'home') %></li>
        <li><%= link_to 'Projects', ('home' == params[:controller]) ? root_path(:anchor => 'projects') : root_path(:section => 'projects') %></li>
        <li><%= link_to 'About', ('home' == params[:controller]) ? root_path(:anchor => 'about') : root_path(:section => 'about') %></li>
        <li><%= link_to 'Connect', ('home' == params[:controller]) ? root_path(:anchor => 'connect') : root_path(:section => 'connect') %></li>
      </ul>
    </nav>
  </div>
</header>
<%= yield %>
<footer>
  ©<%= Time.now.year %> Emjoy Design
  <div class="social-icons">
    <a class="twitter" href="https://twitter.com/emjoydesign" target="_blank"></a>
    <a class="linkedin" href="http://www.linkedin.com/pub/emily-thomas/29/721/38" target="_blank"></a>
    <a class="dribbble" href="http://dribbble.com/emilyjansen" target="_blank"></a>
  </div>
</footer>
<script type="text/javascript">
  $('.nav a').smoothScroll({offset: -140});
  $('.nav a').click(function(){
    $('.nav a.active').toggleClass('active');
    $(this).toggleClass('active');
  });
</script>
<script>
$(document).ready(function() {
  $('#menu-toggle').click(function (e) {
      $('#menu').toggleClass('open');
      e.preventDefault();
      return false;
    });  
});
</script>
</body>
</html>
