<!DOCTYPE html>
<html>
<head>
  <title>Emjoy Design</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Karla|ITC+Charter">
</head>
<body>
<header>
  <div class="content">
    <a href="#home"><div class="logo"></div></a>
    <nav class="nav">
      <a id="menu-toggle" class="anchor-link" href="#"></a>
      <ul id="menu">
        <li><a href="http://www.emjoydesign.com/#home">Home</a></li>
        <li><a href="http://www.emjoydesign.com/#projects">Projects</a></li>
        <li><a href="http://www.emjoydesign.com/#about">About</a></li>
        <li><a href="http://www.emjoydesign.com/#connect">Connect</a></li>
      </ul>
    </nav>
  </div>
</header>
<%= yield %>

<footer>
  ©<%= Time.now.year %> Emjoy Design | Emily Thomas Portfolio Website
  <div class="social-icons">
    <a class="twitter" href="https://twitter.com/emjoydesign" target="_blank"></a>
    <a class="linkedin" href="#"></a>
    <a class="dribbble" href="http://dribbble.com/emilyjansen" target="_blank"></a>
  </div>
</footer>
<script type="text/javascript">
  $('.nav a').smoothScroll({offset: -140});
  $('.nav a').click(function(){
    $('.nav a.active').toggleClass('active');
    $(this).toggleClass('active');
  });
</script>
<script>
$(document).ready(function() {
  $('#menu-toggle').click(function (e) {
      $('#menu').toggleClass('open');
      e.preventDefault();
      return false;
    });  
});
</script>
</body>
</html>
